body {
    background-image: url(https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: sans-serif;
}

#head-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

main {
    display: grid;
    justify-content: center;
    /*-----*/
    padding-bottom: 30px;
    color: rgba(255, 100, 255, 0.8);
}

#survey-form {
    display: grid;
    justify-content: center;
    
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    
    border-radius: 10px;
    border: thin solid rgba(20, 34, 60, 0.18);
    
    padding: 50px 100px 50px 100px;
    
    color: rgba(255, 255, 255, 0.9);
    background: rgba(20, 34, 60, 0.18);
}

#survey-form #name, #email, #dropdown, #number {
    border: none;
    
    width: 600px;
    height: 35px;
    
    border-radius: 2px;
    font-size: 16px;
    margin-top: 10px;
}

#survey-form #dropdown {
    width: 605px;
    height: 40px;
}

#radio-grp #ra1, #ra2, #ra3 {
    width: 20px;
    height: 20px;
    
    margin-top: 10px;
    
}

#che1, #che2 {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

#comment {
    border: none;
    
    font-size: 16px;
    margin-top: 10px;
    
    width: 600px;
    height: 100px;
    
    border-radius: 3px;
}

#submit {
    background-color: rgb(29, 175, 109);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    
    width: 605px;
    height: 40px;
    
    border: none;
    border-radius: 2px;
}





